.mybad{
    font-size:35px;
    font-family: fantasy;
}
.mySize{
    
    width:400px !important;

}
.textStuff{
    font-size:18px !important;
    font-stretch: wider !important;
    font-family: fantasy !important;
}